@media(max-width:850px){
    html{
        font-size:40.5%;
    }
    #search-icon{
        font-size: 4vw;
        margin-right: -48px;
    }
    #search-closer{
        font-size: 4vw;
        margin-right: -48px;
       
    }
    .manu-btn{
      
        font-size: 4vw;
       
    }
    
}
@media(max-width:650px){
    html{
        font-size:40.5%;
    }
    #search-icon{
        font-size: 4vw;
        margin-right: -50px;
    }
    #search-closer{
        font-size: 4vw;
        margin-right: -50px;
       
    }
    .manu-btn{
      
        font-size: 4vw;
       
    }
    
}
@media(max-width:500px){
    html{
        font-size:35.5%;
    }
    #search-icon{
        font-size: 5vw;
        margin-right: -55px;
    }
    #search-closer{
        font-size: 5vw;
        margin-right: -55px;
       
    }
    .manu-btn{
      
        font-size: 5vw;
       
    }
    
}
@media(max-width:400px){
    html{
        font-size:33.5%;
    }
    #search-icon{
        font-size: 6vw;
        margin-right: -60px;
    }
    #search-closer{
        font-size: 6vw;
        margin-right: -60px;
       
    }
    .manu-btn{
      
        font-size: 6vw;
       
    }
    
}
@media(max-width:350px){
    html{
        font-size:32.5%;
    }
    #search-icon{
        font-size: 7vw;
        margin-right: -60px;
    }
    #search-closer{
        font-size: 7vw;
        margin-right: -60px;
       
    }
    .manu-btn{
      
        font-size: 7vw;
       
    }
    
}